::ng-deep .mat-bottom-sheet-container {
  padding: 0;
}

.total-price {
  text-align: right;
}

.booking {
  padding: 3px 0;
  display: grid;
  grid-template-columns: 1fr 140px;
  font-size: 10px;
}

.booking-name {
  font-size: 12px;
  font-weight: 500;
}

.booking-price {
  padding-right: 4px;
  font-size: 12px;
  text-align: right;
}

.booking-from-time {
  font-size: 10px;
}
