mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-left: 24px;
  margin-right: 24px;

  ::ng-deep .no-margin-container {
    margin-left: -24px;
    margin-right: -24px;
  }
}
