mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.container {
  padding-bottom: 24px;
}

.content {
  margin-left: 24px;
  margin-right: 24px;

  ::ng-deep .no-margin-container {
    margin-left: -24px;
    margin-right: -24px;
  }
}

.no-tenant-selected-text {
  padding-top: 48px;
  text-align: center;
}
