@import '/src/assets/scss/layout';

:host {
  display: block;
  padding: 0;
  margin: 0;
  height: calc(100vh - #{$header-height});
  width: 100%;
}

.locate-me {
  z-index: $z-index-above-map;
  position: absolute;
  bottom: 2 * $double-main-margin + $half-main-margin;
  right: $half-main-margin;
}

.booking-history {
  z-index: $z-index-above-map;
  position: absolute;
  bottom: $double-main-margin;
  right: $half-main-margin;
}

.last-recent-booking {
  z-index: $z-index-above-map;
  position: absolute;
  bottom: $double-main-margin;
  right: $double-main-margin + $main-margin;

  box-shadow:
    0 0 20px 5px #fff,  /* inner white */
    0 0 20px 8px #f44336 /* middle magenta */
}

app-map-search {
  z-index: $z-index-above-map;
  box-sizing: border-box;
  position: absolute;
  margin-top: $half-main-margin;
  padding-left: $half-main-margin;
  padding-right: $half-main-margin;
  width: 100%;
}
