<button mat-mini-fab
        color="accent"
        (click)="onLocateMe()"
        class="locate-me">
    <mat-icon>gps_fixed</mat-icon>
</button>

<button mat-mini-fab
        color="accent"
        (click)="showBookingHistory()"
        class="booking-history">
    <mat-icon>history</mat-icon>
</button>

<app-map-search></app-map-search>

<app-map
        (mapReady)="onMapReady($event)"
        (zoomChanged)="onZoomChanged($event)"
        (markerClicked)="onMarkerClicked($event)"
></app-map>
