<div class="content">
  <h2>Parking Space: {{data.name}}</h2>
  <div class="parking-space-details">
    <div class="property">Address: </div>
    <div>{{data.address}}</div>
    <div class="property">Capacity: </div>
    <div>{{data.capacity}}</div>
    <div class="property">Price: </div>
    <div>{{data.ratePerMinute}} CHF / min</div>
    <div class="property">Earliest availability: </div>
    <div>{{data.fromTime | date : 'short'}}</div>
    <div class="property">Maximum availability: </div>
    <div>{{data.toTime | date : 'short'}}</div>
    <div class="property">Infos: </div>
    <div>{{data.info}}</div>
    <div class="property">Contact: </div>
    <div>{{data.contact}}</div>
  </div>
</div>
