::ng-deep .mat-bottom-sheet-container {
  padding: 0 0 10px 0;
}

.parking-space-details {
  display: grid;
  grid-template-columns: 140px 1fr;
  font-size: 12px;
}

.property {
  font-weight: 500;
}

.detail-sheet-details {
  display: flex;
  justify-content: space-between;
}

.button-bar {
  display: flex;
}

.mat-flat-button {
  height: 40px;
  margin-right: 16px;
}
