::ng-deep .mat-bottom-sheet-container {
  padding: 0 0 10px 0;
}

.parking-space-details {
  display: grid;
  grid-template-columns: 140px 1fr;
  font-size: 10px;
}

.property {
  font-weight: 500;
}
