::ng-deep .mat-bottom-sheet-container {
  padding: 0;
}

h2 {
  color: white;
  background-color: #bf5000;
  padding: 8px 16px;
}

.parking-space-details {
  padding: 0px 16px;
  display: grid;
  grid-template-columns: 140px 1fr;
  font-size: 10px;
}

.property {
  font-weight: 500;
}
