@import '/src/assets/scss/layout';

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $half-main-margin;

  .location-field {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .search-button {
    margin-top: 3px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-shadow: none;

    ::ng-deep mat-icon {
      font-size: 20px;
    }
  }
}

mat-form-field {
  font-size: 10px;
  width: 160px;
  &:nth-child(2),
  &:nth-child(3) {
    width: 150px;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
