@import '/src/assets/scss/layout';

::ng-deep .mat-bottom-sheet-container {
  padding: 0 0 10px 0;
}

.booking-header {
  display: flex;
  justify-content: space-between;
  background-color: #ffa726;
  height: 50px;
}

.booking-details  {
  display: grid;
  grid-template-columns: 140px 1fr;
  font-size: 12px;
  margin: 10px 0 10px 0;
}

.property {
  font-weight: 500;
}

button {
  margin-right: 0;
}

.button-bar {
  margin: 0px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
}

.right-buttons {
  display: flex;
  gap: 10px;
}
