<div class="booking-header">
    <h2>{{data.status === bookingStatusEnum.CHECKED_IN ? 'Current' : 'Upcoming'}} booking</h2>
    <h2>
        <ng-container *ngIf="timerValue">
            <span *ngIf="upcomingEndGraceTimerShown">Grace Time: </span>
            <span *ngIf="upcomingEndReservationTimerShown">Time left: </span>
            <span *ngIf="upcomingStartReservationTimerShown">Booking start: </span>
        </ng-container>
        <span class="timer" *ngIf="timerValue">{{timerValue}}</span>
    </h2>
</div>
<div class="booking-details sheet-details">
    <div class="property">Parking space:</div>
    <div>{{data.parkingSpace?.name}}</div>
    <ng-container *ngIf="data.status === bookingStatusEnum.CHECKED_IN">
        <div class="property">Checked in since:</div>
        <div>{{data.checkedInTime | date: 'short'}}</div>
        <div class="property">Check out until:</div>
        <div>{{data.reservedToTime | date: 'short'}}</div>
    </ng-container>
    <ng-container *ngIf="data.status === bookingStatusEnum.RESERVED">
        <div class="property">Reserved from:</div>
        <div>{{data.reservedFromTime | date: 'short'}}</div>
        <div class="property">Reserved to:</div>
        <div>{{data.reservedToTime | date: 'short'}}</div>
    </ng-container>
</div>
<div class="button-bar">
    <button class="checkout-button" mat-flat-button color="accent" (click)="showParkingLocationOnMap()">Show on map
    </button>
    <div class="right-buttons">
        <ng-container *ngIf="(data.status === bookingStatusEnum.CHECKED_IN)">
            <ng-container *ngIf="upcomingEndReservationTimerShown">
                <button mat-flat-button color="accent"
                        (click)="checkOut()">
                    Check out
                </button>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="data.status === bookingStatusEnum.RESERVED && upcomingEndGraceTimerShown">
            <ng-container *ngIf="upcomingEndGraceTimerShown">
                <button mat-flat-button color="accent"
                        (click)="checkIn()">
                    Check in
                </button>
            </ng-container>
            <button mat-flat-button color="accent"
                    (click)="cancelBooking()">
                Cancel booking
            </button>
        </ng-container>
    </div>
</div>

